html, body {
  height: 100%;
  width: 100%;
}

div{
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1.3px;
  color: purple;
}